body{
    font-size: 100;
    color: brown;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    width: 70%;
    padding: 1em;
    text-align: center;
    border: 3px solid #33FFF9;
    margin: auto;


}
.container h1{
    font-size: 20px;
}